ADA
ALGO
ALICE
ATA
ATOM
AVAX
AXS
BAT
BCH
BTC
BTT
BUSD
C98
CHR
DASH
DOGE
DOT
EOS
EPS
ETC
ETH
FARM
FIL
FTT
HARD
ICP
ICX
IOTA
LINK
LRC
LTC
LUNA
MANA
MATIC
NEO
OMG
ONT
PNT
QTUM
RAY
SAND
SOL
SRM
STRAX
SUSHI
THETA
TLM
TRX
UNI
USDC
VET
WIN
XLM
XMR
XRP
XTZ
